<!DOCTYPE html>
<html>
  <head>
    <title>GlobalMusic</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
     <h1>Global Music</h1>
     <hr class='under-header'/>
    </header>
    <%= yield %>
  </body>
</html>
